extends layout

block content
	script(src='../javascripts/main.js?v1.2',type="text/javascript")
	include header
	div.wide
		div.slider
	div.social-wrap
		a.vk(href='http://vk.com/ilrishka')
		a.fb(href='http://www.facebook.com/irina.krechetova.7')
		a.insta(href='http://www.instagram.com/carpe_diem.ru/')
	include footer
